.panel-body {
  text-align: center;
}

.submission {
  display: none;
}

#entered {
  letter-spacing: 0.05em;
}

img {
  width: 50%;
  height: auto;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
